.date-align {
  display: flex;
  flex-direction: row;
  margin-top: 12.5pt;
  margin-bottom: 12.5pt;
}

.createDate {
  border: none;
  font: italic;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                        supported by Chrome, Edge, Opera and Firefox */
}
.createDate:focus {
  outline: none;
}
