.todo-item {
  display: flex;
  flex-direction: row;
  margin-top: 14.5pt;
  margin-bottom: 14.5pt;
}

.todo-title-complete,
.todo-text-complete {
  text-decoration: line-through;
}

.todo-title-incomplete,
.todo-title-complete {
  font-style: bold;
  font-size: 100%;
  margin-bottom: 1pt;
  border: none;
}

.todo-date {
  font-size: 75%;
  color: gray;
  font-style: italic;
}
